<!DOCTYPE html>
<html>
<head>
    <title>Upload Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CloudFile/style.css' %}">
</head>
<body>
    <header>
        <h1>File uploaded successfully!</h1>
    </header>

    <p>Download link:</p>
    <form action="{% url 'download' file.id %}" method="get">
        <button type="submit" class="btn">Open Download Page</button>
    </form>

    <!-- Back to Home button -->
    <a href="/">Back to Home</a>

    <footer>
        &copy; 2026 CloudFile. All rights reserved.
    </footer>
</body>
</html>
